@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!--
    Author: Zach Hazen
    File: About.cshtml
    Purpose: This page should provide a brief summary of the Bleakwind Buffet.
-->

<h1 class="page-header">About Bleakwind Buffet</h1>

<p>
    <i>
        Founded in 2020 from the game-saturated mind of Undergraduate Teaching Assistant Zachery Brunner, Bleakwind Buffet
        is devoted to bringing you the finest in Skyrim-themed dining experiences. So put your bow down, pull up a chair, and join the feast!
    </i>
</p>